In [17]:
import numpy as np
import pandas as pd

In [18]:
name = ['xGfeKtAkii', 'UdwpuCqcyB', 'MsMEoyZtPF', 'IPSIFrBWjs', 'zDGmboSsFG', 
        'DHuidZmCrG', 'idtkBuMcgA', 'dSjeAEPNKH', 'fIWeQmziPE', 'XoyDFtUBxY']

userid = range(1, 11, 1)
list(userid)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
list_of_tuples = list(zip(name, userid))
list_of_tuples

[('xGfeKtAkii', 1),
 ('UdwpuCqcyB', 2),
 ('MsMEoyZtPF', 3),
 ('IPSIFrBWjs', 4),
 ('zDGmboSsFG', 5),
 ('DHuidZmCrG', 6),
 ('idtkBuMcgA', 7),
 ('dSjeAEPNKH', 8),
 ('fIWeQmziPE', 9),
 ('XoyDFtUBxY', 10)]

In [21]:
user = pd.DataFrame(list_of_tuples, columns = ['name', 'userid'])
user

         name  userid
0  xGfeKtAkii       1
1  UdwpuCqcyB       2
2  MsMEoyZtPF       3
3  IPSIFrBWjs       4
4  zDGmboSsFG       5
5  DHuidZmCrG       6
6  idtkBuMcgA       7
7  dSjeAEPNKH       8
8  fIWeQmziPE       9
9  XoyDFtUBxY      10

In [22]:
user['tag1'] = [0,1,1,0,0,0,0,1,0,1]
user['tag2'] = [1,1,0,0,0,1,0,0,0,0]
user['tag3'] = [0,0,0,0,0,0,1,1,1,0]
user['tag4'] = [0,0,0,0,1,0,0,1,0,1]
user['tag5'] = [0,0,1,0,0,0,0,0,0,0]
user['tag6'] = [1,0,0,0,0,1,0,0,0,0]
user['tag7'] = [0,1,0,0,0,0,0,0,1,1]
user['tag8'] = [0,0,0,0,0,0,0,1,0,0]
user['tag9'] = [0,0,0,0,0,0,0,0,0,0]
user['tag10'] = [0,0,0,0,0,0,1,0,0,0]

user

,name,userid,tag1,tag2,tag3,tag4,tag5,tag6,tag7,tag8,tag9,tag10
0,xGfeKtAkii,1,0,1,0,0,0,1,0,0,0,0
1,UdwpuCqcyB,2,1,1,0,0,0,0,1,0,0,0
2,MsMEoyZtPF,3,1,0,0,0,1,0,0,0,0,0
3,IPSIFrBWjs,4,0,0,0,0,0,0,0,0,0,0
4,zDGmboSsFG,5,0,0,0,1,0,0,0,0,0,0
5,DHuidZmCrG,6,0,1,0,0,0,1,0,0,0,0
6,idtkBuMcgA,7,0,0,1,0,0,0,0,0,0,1
7,dSjeAEPNKH,8,1,0,1,1,0,0,0,1,0,0
8,fIWeQmziPE,9,0,0,1,0,0,0,1,0,0,0
9,XoyDFtUBxY,10,1,0,0,1,0,0,1,0,0,0

In [23]:
user['last_login'] =
http://random-date-generator.com/homepage/results

SyntaxError: invalid syntax (<ipython-input-23-084c0485c9d3>, line 1)

In [24]:
rt = ['2020-05-16 22:23:09',
'2020-04-06 09:02:52',
'2020-06-16 22:52:33',
'2020-02-03 05:29:22',
'2020-03-21 21:43:52',
'2020-01-17 03:14:39',
'2020-02-07 19:26:29',
'2020-06-15 02:50:46',
'2020-04-07 21:01:33',
'2020-06-14 15:58:08']
rt

['2020-05-16 22:23:09',
 '2020-04-06 09:02:52',
 '2020-06-16 22:52:33',
 '2020-02-03 05:29:22',
 '2020-03-21 21:43:52',
 '2020-01-17 03:14:39',
 '2020-02-07 19:26:29',
 '2020-06-15 02:50:46',
 '2020-04-07 21:01:33',
 '2020-06-14 15:58:08']

In [27]:
user['last_login'] = rt
user

,name,userid,tag1,tag2,tag3,tag4,tag5,tag6,tag7,tag8,tag9,tag10,last_login
0,xGfeKtAkii,1,0,1,0,0,0,1,0,0,0,0,2020-05-16 22:23:09
1,UdwpuCqcyB,2,1,1,0,0,0,0,1,0,0,0,2020-04-06 09:02:52
2,MsMEoyZtPF,3,1,0,0,0,1,0,0,0,0,0,2020-06-16 22:52:33
3,IPSIFrBWjs,4,0,0,0,0,0,0,0,0,0,0,2020-02-03 05:29:22
4,zDGmboSsFG,5,0,0,0,1,0,0,0,0,0,0,2020-03-21 21:43:52
5,DHuidZmCrG,6,0,1,0,0,0,1,0,0,0,0,2020-01-17 03:14:39
6,idtkBuMcgA,7,0,0,1,0,0,0,0,0,0,1,2020-02-07 19:26:29
7,dSjeAEPNKH,8,1,0,1,1,0,0,0,1,0,0,2020-06-15 02:50:46
8,fIWeQmziPE,9,0,0,1,0,0,0,1,0,0,0,2020-04-07 21:01:33
9,XoyDFtUBxY,10,1,0,0,1,0,0,1,0,0,0,2020-06-14 15:58:08

In [ ]:
session management: how many users have not log in for a week?

In [28]:
datetime.now()

datetime.datetime(2020, 7, 1, 23, 48, 29, 84269)

In [36]:
str(datetime.now())

'2020-07-01 23:51:33.734545'

In [31]:
from datetime import datetime, timedelta

In [33]:
user['last_login']

0    2020-05-16 22:23:09
1    2020-04-06 09:02:52
2    2020-06-16 22:52:33
3    2020-02-03 05:29:22
4    2020-03-21 21:43:52
5    2020-01-17 03:14:39
6    2020-02-07 19:26:29
7    2020-06-15 02:50:46
8    2020-04-07 21:01:33
9    2020-06-14 15:58:08
Name: last_login, dtype: object

In [39]:
user['last_login'] - pd.Series(str(datetime.now()))

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [44]:
user['now'] = str(datetime.now())
user['now']

0    2020-07-01 23:54:33.926061
1    2020-07-01 23:54:33.926061
2    2020-07-01 23:54:33.926061
3    2020-07-01 23:54:33.926061
4    2020-07-01 23:54:33.926061
5    2020-07-01 23:54:33.926061
6    2020-07-01 23:54:33.926061
7    2020-07-01 23:54:33.926061
8    2020-07-01 23:54:33.926061
9    2020-07-01 23:54:33.926061
Name: now, dtype: object

In [42]:
str(datetime.now())

'2020-07-01 23:54:22.411609'

In [49]:
user['now'].dtype

dtype('O')

In [50]:
pd.to_datetime(user['now']).dtype

dtype('<M8[ns]')

In [51]:
datetimenow = pd.to_datetime(user['now'])
datetimenow

0   2020-07-01 23:54:33.926061
1   2020-07-01 23:54:33.926061
2   2020-07-01 23:54:33.926061
3   2020-07-01 23:54:33.926061
4   2020-07-01 23:54:33.926061
5   2020-07-01 23:54:33.926061
6   2020-07-01 23:54:33.926061
7   2020-07-01 23:54:33.926061
8   2020-07-01 23:54:33.926061
9   2020-07-01 23:54:33.926061
Name: now, dtype: datetime64[ns]

In [52]:
user['last_login'].dtype

dtype('O')

In [53]:
lastlogin = pd.to_datetime(user['last_login'])
lastlogin

0   2020-05-16 22:23:09
1   2020-04-06 09:02:52
2   2020-06-16 22:52:33
3   2020-02-03 05:29:22
4   2020-03-21 21:43:52
5   2020-01-17 03:14:39
6   2020-02-07 19:26:29
7   2020-06-15 02:50:46
8   2020-04-07 21:01:33
9   2020-06-14 15:58:08
Name: last_login, dtype: datetime64[ns]

In [55]:
since = datetimenow - lastlogin
since

0    46 days 01:31:24.926061
1    86 days 14:51:41.926061
2    15 days 01:02:00.926061
3   149 days 18:25:11.926061
4   102 days 02:10:41.926061
5   166 days 20:39:54.926061
6   145 days 04:28:04.926061
7    16 days 21:03:47.926061
8    85 days 02:53:00.926061
9    17 days 07:56:25.926061
dtype: timedelta64[ns]

In [ ]:
havent_login_for_a_week = datetime.now() - last_login > 7 days
username['havent_login_for_a_week'].count() # or length

In [60]:
havent_login_for_a_week = since > timedelta(days=7)

In [61]:
havent_login_for_a_week

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

In [ ]:
#session management: how many users have not log in for a week?

In [62]:
len(havent_login_for_a_week == True)

10

In [10]:
#how many users have tag1 and tag2'

user.loc[(user['tag1'] == 1) & (user['tag2'] == 1)]

,name,userid,tag1,tag2,tag3,tag4,tag5,tag6,tag7,tag8,tag9,tag10
1,UdwpuCqcyB,2,1,1,0,0,0,0,1,0,0,0

In [24]:
#what are the ids of users with tag1

#user.loc[user['tag1'] == 1]['userid']
user.loc[user['tag1'] == 1]

,name,userid,tag1,tag2,tag3,tag4,tag5,tag6,tag7,tag8,tag9,tag10
1,UdwpuCqcyB,2,1,1,0,0,0,0,1,0,0,0
2,MsMEoyZtPF,3,1,0,0,0,1,0,0,0,0,0
7,dSjeAEPNKH,8,1,0,1,1,0,0,0,1,0,0
9,XoyDFtUBxY,10,1,0,0,1,0,0,1,0,0,0

In [12]:
import random
from datetime import datetime, timedelta

min_year=2020
max_year=datetime.now().year

start = datetime(min_year, 1, 1, 00, 00, 00)
years = max_year - min_year+1
end = start + timedelta(days=365 * years)

for i in range(10):
    random_date = start + (end - start) * random.random()
    print(random_date)

2020-09-10 00:08:58.758166
2020-05-31 05:02:57.142691
2020-03-27 15:21:11.048171
2020-04-21 06:09:45.066367
2020-06-02 19:39:13.699532
2020-02-19 02:27:28.895661
2020-05-29 07:20:13.891593
2020-05-17 18:05:16.813698
2020-08-14 08:09:04.893498
2020-02-25 12:15:41.107553

In [13]:
datetime.now()

datetime.datetime(2020, 7, 1, 23, 45, 34, 4472)