In [9]:
import numpy as np
import pandas as pd

In [6]:
name = ['xGfeKtAkii', 'UdwpuCqcyB', 'MsMEoyZtPF', 'IPSIFrBWjs', 'zDGmboSsFG', 
        'DHuidZmCrG', 'idtkBuMcgA', 'dSjeAEPNKH', 'fIWeQmziPE', 'XoyDFtUBxY']

userid = range(1, 11, 1)
list(userid)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
list_of_tuples = list(zip(name, userid))
list_of_tuples

[('xGfeKtAkii', 1),
 ('UdwpuCqcyB', 2),
 ('MsMEoyZtPF', 3),
 ('IPSIFrBWjs', 4),
 ('zDGmboSsFG', 5),
 ('DHuidZmCrG', 6),
 ('idtkBuMcgA', 7),
 ('dSjeAEPNKH', 8),
 ('fIWeQmziPE', 9),
 ('XoyDFtUBxY', 10)]

In [10]:
user = pd.DataFrame(list_of_tuples, columns = ['name', 'userid'])
user

         name  userid
0  xGfeKtAkii       1
1  UdwpuCqcyB       2
2  MsMEoyZtPF       3
3  IPSIFrBWjs       4
4  zDGmboSsFG       5
5  DHuidZmCrG       6
6  idtkBuMcgA       7
7  dSjeAEPNKH       8
8  fIWeQmziPE       9
9  XoyDFtUBxY      10

In [23]:
user['tag1'] = [0,1,1,0,0,0,0,1,0,1]
user['tag2'] = [1,1,0,0,0,1,0,0,0,0]
user['tag3'] = [0,0,0,0,0,0,1,1,1,0]
user['tag4'] = [0,0,0,0,1,0,0,1,0,1]
user['tag5'] = [0,0,1,0,0,0,0,0,0,0]
user['tag6'] = [1,0,0,0,0,1,0,0,0,0]
user['tag7'] = [0,1,0,0,0,0,0,0,1,1]
user['tag8'] = [0,0,0,0,0,0,0,1,0,0]
user['tag9'] = [0,0,0,0,0,0,0,0,0,0]
user['tag10'] = [0,0,0,0,0,0,1,0,0,0]

user

,name,userid,tag1,tag2,tag3,tag4,tag5,tag6,tag7,tag8,tag9,tag10
0,xGfeKtAkii,1,0,1,0,0,0,1,0,0,0,0
1,UdwpuCqcyB,2,1,1,0,0,0,0,1,0,0,0
2,MsMEoyZtPF,3,1,0,0,0,1,0,0,0,0,0
3,IPSIFrBWjs,4,0,0,0,0,0,0,0,0,0,0
4,zDGmboSsFG,5,0,0,0,1,0,0,0,0,0,0
5,DHuidZmCrG,6,0,1,0,0,0,1,0,0,0,0
6,idtkBuMcgA,7,0,0,1,0,0,0,0,0,0,1
7,dSjeAEPNKH,8,1,0,1,1,0,0,0,1,0,0
8,fIWeQmziPE,9,0,0,1,0,0,0,1,0,0,0
9,XoyDFtUBxY,10,1,0,0,1,0,0,1,0,0,0

In [ ]:
user tagging with tags (tag1....tag10) and 
answer to the question: 
    
'how many users have tag1 and tag2' 

#intersect
how many users have both tag1 and tag2
[user.loc[user['tag1'] == 1] & [user.loc[user['tag2'] == 1]

#union
how many users have tag1 plus how many users have tag2

In [27]:
[user.loc[user['tag1'] == 1] & [user.loc[user['tag2'] == 1]]]

ValueError: Unable to coerce to Series, length must be 12: given 1

In [24]:
#what are the ids of users with tag1
#user.loc[user['tag1'] == 1]['userid']
user.loc[user['tag1'] == 1]

,name,userid,tag1,tag2,tag3,tag4,tag5,tag6,tag7,tag8,tag9,tag10
1,UdwpuCqcyB,2,1,1,0,0,0,0,1,0,0,0
2,MsMEoyZtPF,3,1,0,0,0,1,0,0,0,0,0
7,dSjeAEPNKH,8,1,0,1,1,0,0,0,1,0,0
9,XoyDFtUBxY,10,1,0,0,1,0,0,1,0,0,0

In [17]:
user['userid']['tag1'] == 1

KeyError: 'tag1'

In [ ]:
session management: how many users have not log in for a week?